@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

#contenido .votacion .down:after,
#contenido .votacion .up:after
{
	font-family: "icomoon";
	font-size: 1.5em;
	vertical-align: bottom;
}
#contenido .votacion .down:after
{
	color: red;
	content: "\e001";
}
#contenido .votacion .up:after
{
	color: green;
	content: "\e002";
}









